:root {
    --main-color: darkblue;
    --border: 1px solid black;
    --padding: 10px;

}

nav {
    background-color: var(--main-color);
    padding: var(--padding);
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
main {
    max-width: 840px;
}

h1 {
    color: var(--main-color);
}
main img {
    width: 150px;
    height: auto;
    border: var(--border);
    box-shadow: 0 0 30px gray;
    padding: 0;
}
p {
    padding: var(--padding);
    
    
}

aside {
    width: 100%;
    margin: 0;
    border: 0;
    padding: var(--padding);
    background-color: var(--main-color);
    color: white;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: var(--border);
    text-align: center;
}