.callout {
	
    max-width: 400px;
    margin: 0px;
    border: 0px;
    padding: 10px;
    background-color: #3149a3;
    color: white;
    
}

.callout img {

    float: right;
    margin: 10px;
    border: 2px solid black;
    padding: 3px;
    background-color: gray;
    width: 115px;
    height: auto;
	
}

blockquote {
	
    margin: 10px;

}

cite {
	
    display: block;
    border-top: 1px dotted white;
    padding-top: 5px;
    text-align: right;
    font-size: smaller;

}